documents/
datasets/
*.code-workspace
**/__pycache__/
*_test.py
*.qti*
*.pdf
tex_src/.vscode/
tex_src/*.aux
tex_src/*.fdb_latexmk
tex_src/*.log
tex_src/*.out
tex_src/*snm
tex_src/*.synctex.gz
tex_src/*.loc
tex_src/*.fls
tex_src/*.nav
tex_src/*.toc
